*.d
*.so
*.o
*.out
*.nav
*.log
*.snm
*.toc
makeCMS3ClassFiles/*.cc
makeCMS3ClassFiles/*.h
*.aux
*.pcm
alexBeamer/*.tex
makeCMS3ClassFiles/doAll.C
makeCMS3ClassFiles/ScanChain.C
tableMaker/SimpleTableDict.cpp
.nfs*
